body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header
{
  border: 1px solid black;
}

section
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border: 1px solid black;*/
  width: 850px;
}

p
{
  border: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}

h3
{
  background-color: rgba(0,0,0,0.4);
}

#conteneur_lien
{
  display: flex;
  justify-content: space-between;
}
